*{
    margin: 0px;
    padding: 0px;
}
table{
    border: 1px solid black;
    width: 900px;
    height: 700px;
    margin-top: 20px;
    margin-left: 340px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 2px 2px 12px 4px black;
}
td{
    width: 112.5px;
    height: 87.5px;
}
tr:nth-child(odd) td:nth-child(odd)
 {
    background-color: black;
}
tr:nth-child(even) td:nth-child(even)
{
    background-color: black;
}

@media (max-width: 480px) {
    *{
        width: 100px;
        height: 30px;
    }
    table{
        width: 260px;
        height: 70px;
        margin-top: 100px;
        margin-left: 60px;
        
    }
    td{
        width: 62.5px;
        height: 10px;
    }
}